doctype html
html(lang="en")
  head
    title= pageTitle
    script(src="jquery-latest.js")
    link(href="style.css" rel="stylesheet")
  body
    #myModal.modal
        .modal-content
            .modal-header
                span.close &times
                h2 Modal Header
            .modal-body
                p Se ha guardado el generador
            .modal-footer
                p lol
            
    h1 Pug - it's Home. LoL

    div
        label <b>Id del fabricante: </b>
        input(  type='text' maxlength="10" id='maker_id' autocomplete="off")
    div
        label <b>Consumo de energía: </b>
        input(  type='number' max="999" id='energy_consumption' autocomplete="off" )
        label(style="color:red;") <b>Watts</b>
    div
        label <b>Fuerza de ruptura: </b>
        input(  type='number' max="999" id='breaking_force' autocomplete="off")
        label(style="color:red;") <b>Newtons</b>
    div
        label <b>Fuerza mínima de reacción: </b>
        input(  type='number' max="999" id='minimum_reaction_force' autocomplete="off")
        label(style="color:red;") <b>Newtons</b>
    div
        label <b>Fecha de lanzamiento: </b>
        input(  type='date'  id='release_date' checked autocomplete="off")
    div
        label <b>Tiempo de vida estimado: </b>
        input(  type='number' max="99" id='estimated_lifetime' autocomplete="off")
        label(style="color:red;") <b>Años</b>
    fieldset
      legend <b>Tipo de Escudo:</b>
      div
        label <b>Rayos</b>
        input(  type='Radio'  name='shield_type' checked value='0')
        
        label <b>Partículas</b>
        input(  type='Radio'  name='shield_type' value='1')
    div
        button(id='setGenerator') Guardar Generador
    hr(style="margin-top:5em;")
    #container.col
        <button id="sendData">Listado de Generadores</button>
    #response-container

    script(src="script.js")